@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
  margin : 0
}
.App{
  margin: 0;
  /* background-color: #3FB7D7; */
  min-height: 100vh;   /* key to responsive background*/
  display: flex;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
